@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

header > h1 {
  margin: 0;
  padding: 4px 16px;
  background-color: #153376;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
}

form#user-profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form#user-profile > label {
  display: flex;
}

form#user-profile > label > span {
  min-width: 150px;
}

form#user-profile > label > input {
  margin-left: auto;
}

.form-error {
  color: red;
  margin: 0 0 0 auto;
}