.container {
  display: flex;
  justify-content: center;
}

form#user-profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form#user-profile > label {
  display: flex;
}

form#user-profile > label > span {
  min-width: 150px;
}

form#user-profile > label > input {
  margin-left: auto;
}